<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.howzits.videocomponent">

    <application>
        <activity
            android:name="com.howzits.videocomponent.VideoPlayerActivity"
            android:exported="true"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>
</manifest>